<!DOCTYPE html>
<html>

<head>
    <title>SMS Spam Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

<div class="container">

    <h1>📩 SMS Spam Detector</h1>

    <form action="/classifier" method="POST">

        <textarea 
        name="message" 
        placeholder="Enter your SMS here..."
        required></textarea>


        <button type="submit">
            Check Message
        </button>

    </form>


    {% if prediction %}

    <div class="result">

        <h2>{{ prediction }}</h2>

        <p>
            Spam Probability:
            <b>{{ spam_probability }}</b>
        </p>


        <p>
            Ham Probability:
            <b>{{ ham_probability }}</b>
        </p>

    </div>

    {% endif %}


</div>


</body>

</html>